 body {
      background: linear-gradient(to bottom right, #ff8016, #f5d3b2);
      height: 100vh;
      font-family: Arial, sans-serif;
    }

    .login-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .login-image {
      border-radius: 50%;
      width: 100%;
      max-width: 450px;
    }

    .form-container {
      max-width: 450px;
      width: 100%;
      padding: 30px;
      position: relative;
    }

    .form-group {
      position: relative;
      margin-bottom: 20px;
    }

    .form-control {
      background-color: transparent;
      border: 1px solid black;
      border-radius: 10px;
      height: 50px;
      padding-left: 40px;
      color: #000;
    }

    .form-control::placeholder {
      color: #555;
    }

    .form-icon {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      color: #555;
      font-size: 18px;
    }

    .login-btn {
      background-color: #f8cc14;
      font-weight: bold;
      height: 45px;
      font-size: 18px;
      border: none;
    }

    .login-btn:hover {
      background-color: #e4b700;
    }

    a {
      font-size: 14px;
    }
    
    .is-invalid {
      border-color: #dc3545 !important;
    }
    
    .invalid-feedback {
      color: #dc3545;
      font-size: 0.875em;
      margin-top: 0.25rem;
    }

     @media (max-width: 425px) {
      .login-image {
        Padding: 30px;
      }
      }